#AITS{
    background:url(../assets/images/subjectwisebg.png);
    margin-top:70px;
    margin-bottom:0px;
}
#aitsicon{
    height:65px;
    margin:10px 40px;
}
.bar{
    height:45px;
    width:100%;
    text-align:center;
    background: -moz-linear-gradient(top,  #36698d 0%, #52a0a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #36698d 0%,#52a0a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #36698d 0%,#52a0a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color:white;
    font-famile:'Roboto',sans-serif;
}
.bar h2{
    padding-top:3px;
}