.ans-sec{
    display:flex;
    min-height:100vh;
}
.heading{
    padding:4%;
    font-size:22px;
}
.option-sec{
    padding:0px;
}
.options{
    width:75%;
    padding:27% 3% 4% 5%;
}
.option{
    word-wrap:break-word;
    min-height:50px;
    max-width:550px;
    min-width:350px;
    margin-top:15px;
    padding:4%;
    border:0px solid rgba(0,0,0,0.2);
    border-radius:10px;
    cursor:pointer;
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
}
.option:hover{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.4);
    cursor:pointer;
    background:rgba(0,0,0,0.1);
}
.option:active{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
    border:2px solid red;
}
.option:target{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
    border:2px solid green;
}
.submit{
    margin:4%;
    text-align:center;
    width:350px;
}
.submit button{
    width:48%;
    color:white;
    border:0px solid gray;
    border-radius:4px;
    margin:70px 3px;
    padding:1%;
}
.submit button:hover{
    box-shadow:2px 3px 5px 0 rgba(0,0,0,0.4);
}
.submit button:focus{
    outline:none;
}
.submit button:active{
    box-shadow:2px 3px 5px 0 rgba(0,0,0,0.2);
}
.ans-sub-sec{
    width:70%;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    position:fixed;
    top:0;
    right:0;
}
.ques-pallete{
    background:#E1E1E1;
    width:300px;
    height:550px;
    border-left:2px solid #ccc;
    border-bottom:2px solid #ccc;
    border-bottom-left-radius:30px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    padding:7px 0px;
}
.subject-select{
    width:30%;
    background:white;
    text-align:center;
    padding:4px;
    border:1px solid #ccc;
    border-radius:5px;
    cursor:pointer;
}
.page-no{
    background:white;
    width:40px;
    height:40px;
    border:1px solid #ccc;
    border-radius:5px;
    margin:5px 7px;
    text-align:center;
    padding:7px;
}
.solution{
    background:#E1E1E1;
    margin-top:7%;
    margin-bottom:2%;
    margin-left:-120px;
    margin-right:20px;
    height:400px;
    width:450px;
    padding:5%;
}