.ans-sec{
    display:flex;
   
}
#choice-sec{
    min-height:100vh;
}

#instruction-ques-box{
    box-shadow:1px 1px 4px 1px gray;
    width:100%;
    margin:0px;
    padding:5px 10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#instruction-ques-box:hover{
    background: rgba(0,0,0,0.1);
    color:black;
    cursor:pointer;
}
#instruction-zoom{
    font-size:20px;
    color:grey;
    margin:5px;
}
.heading{
    padding:4%;
    font-size:22px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.option-sec{
    padding:0px;
}

.options{
    width:75%;
    padding:10% 3% 4% 5%;
}
.option{
    word-wrap:break-word;
    min-height:50px;
    max-width:550px;
    min-width:350px;
    margin-top:15px;
    padding:4%;
    border:0px solid rgba(0,0,0,0.2);
    border-radius:10px;
    cursor:pointer;
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
}
.option:hover{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.4);
    cursor:pointer;
    background:rgba(0,0,0,0.1);
}
.option:active{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
    border:2px solid red;
}
.option:target{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
    border:2px solid green;
}
.submit{
    margin:4%;
    text-align:center;
    width:350px;
}
.submit button{
    width:48%;
    color:white;
    border:0px solid gray;
    border-radius:4px;
    margin:70px 3px;
    padding:1%;
}
.submit button:hover{
    box-shadow:2px 3px 5px 0 rgba(0,0,0,0.4);
}
.submit button:focus{
    outline:none;
}
.submit button:active{
    box-shadow:2px 3px 5px 0 rgba(0,0,0,0.2);
}
.solution{
    background:#E1E1E1;
    margin-top:7%;
    margin-bottom:2%;
    margin-left:-120px;
    margin-right:20px;
    height:400px;
    width:450px;
    padding:5%;
}