.ans-sec{
    display:flex;
   
}
#choice-sec{
    min-height:93vh;
    
    border-left:1px solid gray;
}

#instruction-ques-box{
    box-shadow:1px 3px 4px 0px rgba(0,0,0,0.2);
    width:100%;
    margin:0px;
    background:white;
    color:black;
    border:2px solid rgba(0,0,0,0.2);
    border-radius:0px;
    padding:5px 10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#instruction-ques-box:hover{
    background: rgba(0,0,0,0.1);
    color:black;
    cursor:pointer;
}
#instruction-detail{
    position:absolute;
    width:100%;
    text-align:center;
    padding:5%;
    background:white;
    border:1px solid grey;
    border-top:none;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    box-shadow:1px 3px 4px 0px rgba(0,0,0,0.2);
    opacity:0;
}
.heading{
    padding:4%;
    padding-bottom:0%;
    font-size:22px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.option-sec{
    padding:0px;
}

.options{
    width:75%;
    padding:8% 3% 0% 5%;
}
.option{
    word-wrap:break-word;
    min-height:50px;
    max-width:550px;
    min-width:350px;
    margin-top:15px;
    padding:4%;
    border:0px solid rgba(0,0,0,0.2);
    border-radius:10px;
    cursor:pointer;
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
}
.option:hover{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.4);
    cursor:pointer;
    background:rgba(0,0,0,0.1);
}
.option:active{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
    border:2px solid red;
}
.option:target{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
    border:2px solid green;
}
.num-input{
    margin:50px;
}
.back-button{
    margin-left:40px;
    color:#A6A5A5;
    cursor:pointer;
}

.back-button :hover{
    color:black
}
.forward-button{
    margin-right:40px;
    color:#A6A5A5;
    cursor:pointer;
}

.forward-button :hover{
    color:black
}
.submit{
    margin:4%;
    margin-bottom:0%;
    text-align:center;
    width:450px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.submit button{
    width:48%;
    color:white;
    border:0px solid gray;
    border-radius:4px;
    margin:70px 30px;
    padding:1%;
}
.submit button:hover{
    box-shadow:2px 3px 5px 0 rgba(0,0,0,0.4);
}
.submit button:focus{
    outline:none;
}
.submit button:active{
    box-shadow:2px 3px 5px 0 rgba(0,0,0,0.2);
}
.solution{
    background:#E1E1E1;
    margin-top:7%;
    margin-bottom:2%;
    margin-left:-120px;
    margin-right:20px;
    height:400px;
    width:450px;
    padding:5%;
}

.timer-bar{
    text-align:right;
    padding:10px 20px;
    display:flex;
    justify-content:space-between;
    color:#448698;
    font-weight:500;
    font-size:20px;
    box-shadow:2px 3px 2px 0 rgba(0,0,0,0.2);
}
.timer-bar div{
    display:flex;
}
#close-paper{
    cursor:pointer;
}