
.question-sec{
    height:100%;
}
#question-no{
   padding:5%;
}
#ques-img-sec{
    width:90%;
    margin:5%;
}
#question-text{
    width:90%;
    text-align:center;
    margin:auto;
    margin-top:20%;
}

