.dialog-content-signin {
  background: #eaeaea;
}
#signin-dialog {
  text-align: center;
  /* max-width:400px; */
  margin: auto;
}
.MuiPaper-root{
  border-radius: 15px !important;
}
#signin-button {
  margin: 0px 20px;
}
#signin-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 12px 20%;
}
#incorrect-error {
  color: #ff1e1e;
  margin: 10px 0px;
  margin-top: 20px;
  font-weight: 500;
}
#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(
    to left,
    black 70%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width: 220px;
}

#divInner {
  left: 0;
  position: sticky;
}

#divOuter {
  width: 190px;
  overflow: hidden;
}
#signup-feature-list {
  text-align: left;
  font-size: 16px;
  width: 90%;
  margin: 2%;
  padding: 2% !important;
  margin-bottom: 0px;
  color: grey;
}
.signup-offer {
  color: #1e9e22;
}
.signin-title {
  color: #498e9c;
  font-size: 18px;
}
#signin-data-rate-warning {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.dialog-close-icon {
  float: right;
  margin: 0px !important;
  padding: 0px !important;
}

.user-info-input {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
